{%  extends 'base.html' %}


{%  block content %}
    {%  if item %}

    <form class="d-flex" method="POST">
        {%  csrf_token %}
        <input class="form-control me-2" type="search" placeholder="{{ item.item }}"value="{{ item.item }}" aria-label="Search" name="item">

        <input type="hidden" value="{{ item.completed }}" name="completed">

        <button class="btn btn-outline-success" type="submit">Edit</button>
    </form>


    {% endif %}

{% endblock %}