{%  extends 'base.html' %}


{%  block content %}

{%  if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

    {%  if all_items %}
        <table class="table table-bordered">
            {% for things in all_items %}
                {% if things.completed %}
                    <tr class="table-success">
                        <td class="striker"><a href="{% url 'edit' things.id %}">{{ things.item }}</a></td>
                        <td><center><a href="{% url 'uncross' things.id %}">uncross</a></center></td>
                        <td><center><a href="{% url 'delete' things.id %}">delete</a></center></td>
                    </tr>
                {% else %}
                    <tr>
                        <td><a href="{% url 'edit' things.id %}">{{ things.item }}</a></td>
                        <td><center><a href="{% url 'cross_off' things.id %}">Cross off</a></center></td>
                        <td><center><a href="{% url 'delete' things.id %}">delete</a></center></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {%  endif %}
{% endblock %}


